{% extends "layout.html" %}

    {%block welcome %}
    <section class="header">
        <div class="text-box">
            <h1>IMPALA SOCIETY</h1>
            <p>A warm welcome message creates a comfortable atmosphere in any scenario, be it celebrating the return of a long-lost friend, welcoming a family member who hasn't been home for long, or ushering in new hires.</p>
            <a href="" class="hero-btn">Reach out to Us</a>

        </div>
    </section>
    {% endblock %}
    {% block allcontent %}
    

    <!----services we offer-->
    <section class="course">
        <h1>News & Updates</h1>
        <p>We'll be sharing exciting news about the school,
            upcoming alumni events, career opportunities, and inspiring stories from our graduates. Be sure to check back frequently to stay informed and involved in our vibrant alumni community!</p>
       
        <div class="row">
            <div class="course-col">
                <h3>Career Day</h3>
                <img src="{{url_for('static', filename='images/vintage.jpeg')}}">
                <p><h4>Connect with Your Future!</h4>Our recent Career Day event was a resounding success,
                    bringing together current students and accomplished alumni for a day of valuable interaction. The atmosphere buzzed with excitement as students engaged with alumni from diverse fields. Alumni generously shared their career journeys, offering insights and advice that left a lasting impression on the students.</p>

            </div>
            <div class="course-col">
                <h3>Alumni Meetups</h3>
                <img src="{{url_for('static', filename='images/music.jpeg')}}">
                <p><h4>The Gift of Music: Old Cambrians Make a Heartfelt Donation</h4>In a display of exceptional generosity,
                    our very own Old Cambrians (alumni) recently made a heartfelt donation of musical instruments to the school. This thoughtful contribution will significantly enrich the music program and provide our current students with new opportunities to explore their musical talents.We are incredibly grateful to the Old Cambrians for their continued support and for fostering a love of music in future generations.
                </p>

            </div>
            <div class="course-col">
                <h3>Sports</h3>
                <img src="{{url_for('static', filename='images/rugby.jpeg')}}">
                <p><h4>Champions Made! Relive the Thrill of the Recent Rugby Finals!</h4>The roar of the crowd, the tension on the pitch, and the triumphant victory - our recent rugby finals game was an unforgettable experience for our current students.
                    The entire school community held its breath as the final whistle blew, and the jubilation of our champions erupted!We are incredibly proud of their accomplishment.</p>

            </div>

        </div>

    </section>

<!---------campus-->
    <section class="campus">
        <h1>Our Society</h1>
        <p><h4>Houses of Laughter, Late Nights, and Legacy: A Glimpse into Our Student Dorms</h4></p>
        <p>Built in both the up and down schools,
            with a few scattered across the vast expanse of the football field, they housed not only students but also a vibrant community spirit. Each house had its own unique personality, shaped by the residents who filled it with laughter, late-night study sessions, and the occasional prank. Decades later, we still reminisce about the bonds we made.Can you contribute your own house memories in the comments below?</p>

        <div class="row">
            <div class="campus-col">
                <img src="{{url_for('static', filename='images/bari.jpg')}}">   
                <div class="layer">
                    <h3>Baringo</h3>
                </div> 
            </div>
            <div class="campus-col">
                <img src="{{url_for('static', filename='images/athi.jpg')}}">   
                <div class="layer">
                    <h3>Athi</h3>
                </div> 
            </div>
            <div class="campus-col">
                <img src="{{url_for('static', filename='images/Tana.jpg')}}">  
                <div class="layer">
                    <h3>Tana</h3>
                </div> 
            </div>

        </div>

    </section>

    <!----JavaScript for toggole menu--->
    <script>
        // var navLinks=document.getElementsByClassName("nav-links");
        var navLinks = document.getElementById("nav-links")
        function showmenu(){
            navLinks.style.display = "block";

        }
        function Hidemenu(){
            console.log('button has been clicked');
            // navLinks.style.right = "-20%";
            navLinks.style.display = "none"
        }
    </script>

{% endblock %}