<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News & Events</title>
  <!-- <link rel="stylesheet" href="static/css/news.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
  
</head>
<body>
  <h1>News & Events</h1>
  <section class="news-container">
    <article class="news-item">
      <img src="{{url_for('static', filename='images/library.jpg')}}" class="news-image">
      <h3>News Headline 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio dui. Maecenas eu augue eget magna gravida dignissim.</p>
    </article>
    <article class="news-item">
      <!--<img src="static/images/library.jpg" alt="News Image 2" class="news-image"> -->
      <img src="{{url_for('static', filename='images/rugby.jpeg')}}" class="news-image">
      <h3>News Headline 2</h3>
      <p>Donec nec odio dui. Maecenas eu augue eget magna gravida dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </article>
    <article class="news-item">
      <img src="{{url_for('static', filename='images/mentor.jpg')}}" class="news-image">
      <h3>Event Announcement</h3>
      <p>Join us for an exciting event! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio dui.</p>
    </article>
    </section>
</body>
</html>