<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    
    <ul>
        <!-- <li><a class="active" href="/dashboard">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="prof">Profile</a></li> -->
<!-- ----------------------  -->
        <li><a href="/">HOME</a></li>
        <li><a href="/users">DIRECTORY</a></li>
        <li><a href="/news">EVENTS</a></li>
        <li><a href="/prof<id=user[1]>">PROFILE</a></li>
<!-- ----------------------  -->
        {% if session.email %}
        <li style="float:right"><a href="/">LOGOUT</a></li>
        {% else %}
        <li style="float:right"><a href="/register">Register</a></li>
        <li style="float:right"><a href="/login">login</a></li>
        {% endif %}
    </ul>

    <h1>Registered Users</h1>

    <div class="search_box">
        <form method="post" action="{{ url_for('search_user') }}">
            <label for="">Search</label>
            <input type="text" name="name" id="name" >
            <button type="submit">Search</button>
        </form>
    </div>
    
    <table id="customers">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td><a href="{{ url_for('prof', id=user[0]) }}" class="view_profile">view profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>