{% extends "layout.html" %}

{% block y %}

    <h1>Registered Users</h1>

    <div class="search_box">
        <form method="post" action="{{ url_for('search_user') }}">
            <label for="">Search</label>
            <input type="text" name="name" id="name" >
            <button type="submit">Search</button>
        </form>
    </div>
    
    <table id="customers">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td><a href="{{ url_for('prof', id=user[0]) }}" class="view_profile">view profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}