<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="#contact">Profile</a></li>
        {% if session.email %}
        <li style="float:right"><a href="/logout">logout</a></li>
        {% else %}
        <li style="float:right"><a href="/">Register</a></li>
        <li style="float:right"><a href="/login">login</a></li>
        {% endif %}
    </ul>

    <h1>Registered Users</h1>

    <div class="search_box">
        <input type="text" name="search_name">
        <label for="">Search</label>
    </div>
    
    <table id="customers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td><a href="{{ url_for('view_profile', id=user[1]) }}" class="view_profile">view profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</html>