<!DOCTYPE html>
<html>

<head>
    <title>Registered Users</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/prof">Profile</a></li>
        {% if session.email %}
        <li style="float:right"><a href="/">logout</a></li>
        {% else %}
        <li style="float:right"><a href="/">Register</a></li>
        <li style="float:right"><a href="/login">login</a></li>
        {% endif %}
    </ul>
    

</body>
</html>